{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
<div class="flex justify-center items-center min-h-screen">
    <div class="bg-white w-full max-w-md mx-auto rounded-xl shadow-lg p-8">
        <h2 class="text-2xl font-bold text-center mb-6">Détails de Paiement</h2>


        {{ form_start(form, { 'action': path('addpay', {'prix': prix,'id':id}), 'method': 'POST'}) }}

        
        <div>
            {{ form_label(form.nom,'Nom Complet') }}
            {{ form_widget(form.nom) }}
             {% for error in form.nom.vars.errors %}
        <div class="error">{{ error.message }}</div>
    {% endfor %}
        </div>

        <div>
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        <div>
            {{ form_label(form.type_carte) }}
            {{ form_widget(form.type_carte) }}
        </div>

        <div>
            {{ form_label(form.num_carte) }}
            {{ form_widget(form.num_carte) }}
        </div>

        <div class="grid grid-cols-2 gap-4">
            <div>
                {{ form_label(form.date_expiration) }}
                {{ form_widget(form.date_expiration) }}
            </div>

            <div>
                {{ form_label(form.cvv) }}
                {{ form_widget(form.cvv) }}
            </div>
        </div>
<br>
        <div class="flex justify-between items-center">
            <span class="text-sm text-gray-700">Total à payer :</span>
            <span class="text-xl font-bold text-gray-900">{{ prix }}</span>
        </div>
<br>
       {{form_widget(form.save)}}

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
