<!-- Sidebar -->
<div class="sidebar bg-[#AFC92C] text-black w-64 p-6 shadow-md h-screen">
    <div class="text-center mb-6">
        <img src="{{ asset('img/logo.png') }}" alt="Logo" class="h-10 mx-auto">
    </div>
    <nav class="space-y-4">
        <a href="{{ path('app_user_edit') }}" class="flex items-center py-2 px-4 rounded-lg transition-all hover:bg-[#6D9B25] hover:translate-x-1" data-translate="true">
            <i class="fas fa-user-circle mr-3"></i> <span data-translate="true">Profil</span>
        </a>
        <a href="{{ path('app_module_index') }}" class="flex items-center py-2 px-4 rounded-lg transition-all hover:bg-[#6D9B25] hover:translate-x-1" data-translate="true">
            <i class="fas fa-book mr-3"></i> <span data-translate="true">Modules</span>
        </a>
        
        <a href="{{ path('app_cours_index') }}" class="flex items-center py-2 px-4 rounded-lg transition-all hover:bg-[#6D9B25] hover:translate-x-1" data-translate="true">
            <i class="fas fa-child mr-3"></i> <span data-translate="true">Cours</span>
        </a>
        <a href="{{ path('app_quizz2_index') }}" class="block py-2 px-4 rounded-lg hover:bg-lime-700" data-translate="true">
            <i class="fas fa-calendar-alt mr-2"></i> <span data-translate="true">Quiz</span>
        </a>

    
        <a href="{{ path('app_logout') }}" class="flex items-center py-2 px-4 rounded-lg bg-red-600 text-white transition-all hover:bg-red-700" data-translate="true">
            <i class="fas fa-sign-out-alt mr-3"></i> <span data-translate="true">Déconnexion</span>
        </a>
    </nav>
</div>
